Repository AIOCodeBase/LCPOTD, pull requests merged in 2023-02, with the labels that each got.

#199 1071. Greatest Common Divisor of Strings - 01 February 2023
  Problems & Solutions/1071. Greatest Common Divisor of Strings/01 February 2023/Approach 1 - Brute Force/Greatest Common Divisor of Strings.cpp
  Problems & Solutions/1071. Greatest Common Divisor of Strings/01 February 2023/Approach 1 - Brute Force/Greatest Common Divisor of Strings.java
  Problems & Solutions/1071. Greatest Common Divisor of Strings/01 February 2023/Approach 1 - Brute Force/Greatest Common Divisor of Strings.py
  Problems & Solutions/1071. Greatest Common Divisor of Strings/01 February 2023/Approach 2 - Greatest Common Divisor/Greatest Common Divisor of Strings.cpp
  Problems & Solutions/1071. Greatest Common Divisor of Strings/01 February 2023/Approach 2 - Greatest Common Divisor/Greatest Common Divisor of Strings.java
  Problems & Solutions/1071. Greatest Common Divisor of Strings/01 February 2023/Approach 2 - Greatest Common Divisor/Greatest Common Divisor of Strings.py
  Problems & Solutions/1071. Greatest Common Divisor of Strings/01 February 2023/README.md
  Problems & Solutions/1137. N-th Tribonacci Number/30 January 2023/README.md
Labels: documentation, enhancement, c++, java, python3, readme, markdown

#233 953. Verifying an Alien Dictionary - 02 February 2023
  .github/pull_request_template.md
  Problems & Solutions/1071. Greatest Common Divisor of Strings/01 February 2023/README.md
  Problems & Solutions/953. Verifying an Alien Dictionary/02 February 2023/Approach 1 - Compare adjacent words/Verifying an Alien Dictionary.java
  Problems & Solutions/953. Verifying an Alien Dictionary/02 February 2023/Approach 1 - Compare adjacent words/Verifying an Alien Dictionary.py
  Problems & Solutions/953. Verifying an Alien Dictionary/02 February 2023/README.md
Labels: documentation, enhancement, java, python3

#234 2Feb C++ code added
  Problems & Solutions/953. Verifying an Alien Dictionary/02 February 2023/Approach 1 - Compare adjacent words/Verifying an Alien Dictionary.cpp
Labels: enhancement, c++

#237 update
  Problems & Solutions/953. Verifying an Alien Dictionary/02 February 2023/Verifying an Alien Dictionary.cpp
Labels: enhancement, c++

#238 update
  Problems & Solutions/26. Remove Duplicates from Sorted Array/11 November 2022/Approach 1 - Two indexes approach/Remove Duplicates from Sorted Array.c
  Problems & Solutions/26. Remove Duplicates from Sorted Array/11 November 2022/Approach 1 - Two indexes approach/Remove Duplicates from Sorted Array.cpp
  Problems & Solutions/26. Remove Duplicates from Sorted Array/11 November 2022/Approach 1 - Two indexes approach/Remove Duplicates from Sorted Array.cs
  Problems & Solutions/26. Remove Duplicates from Sorted Array/11 November 2022/Approach 1 - Two indexes approach/Remove Duplicates from Sorted Array.java
  Problems & Solutions/26. Remove Duplicates from Sorted Array/11 November 2022/Approach 1 - Two indexes approach/Remove Duplicates from Sorted Array.js
  Problems & Solutions/26. Remove Duplicates from Sorted Array/11 November 2022/Approach 1 - Two indexes approach/Remove Duplicates from Sorted Array.py
  Problems & Solutions/26. Remove Duplicates from Sorted Array/11 November 2022/README.md
Labels: enhancement

#244 03 February 2023
  Problems & Solutions/6. Zigzag Conversion/03 February 2023/Approach 1 - Simulate Zig-Zag Movement/Zigzag Conversion.cpp
  Problems & Solutions/6. Zigzag Conversion/03 February 2023/Approach 1 - Simulate Zig-Zag Movement/Zigzag Conversion.java
  Problems & Solutions/6. Zigzag Conversion/03 February 2023/Approach 1 - Simulate Zig-Zag Movement/Zigzag Conversion.js
  Problems & Solutions/6. Zigzag Conversion/03 February 2023/Approach 1 - Simulate Zig-Zag Movement/Zigzag Conversion.py
  Problems & Solutions/6. Zigzag Conversion/03 February 2023/Approach 2 - String Traversal/Zigzag Conversion.cpp
  Problems & Solutions/6. Zigzag Conversion/03 February 2023/Approach 2 - String Traversal/Zigzag Conversion.java
  Problems & Solutions/6. Zigzag Conversion/03 February 2023/Approach 2 - String Traversal/Zigzag Conversion.js
  Problems & Solutions/6. Zigzag Conversion/03 February 2023/Approach 2 - String Traversal/Zigzag Conversion.py
  Problems & Solutions/6. Zigzag Conversion/03 February 2023/README.md
Labels: documentation, enhancement, c++, java, python3, javascript

#247 04 February 2023
  Problems & Solutions/567. Permutation in String/04 February 2023/Approach 1 - Brute Force/Short Permutation in a Long String.java
  Problems & Solutions/567. Permutation in String/04 February 2023/Approach 2 - Using sorting/Short Permutation in a Long String.java
  Problems & Solutions/567. Permutation in String/04 February 2023/Approach 3 - Using Hashmap/Short Permutation in a Long String.java
  Problems & Solutions/567. Permutation in String/04 February 2023/Approach 4 - Using Array [Accepted]/Short Permutation in a Long String.java
  Problems & Solutions/567. Permutation in String/04 February 2023/Approach 5 - Sliding Window [Accepted]/Short Permutation in a Long String.java
  Problems & Solutions/567. Permutation in String/04 February 2023/Approach 6 - Optimized Sliding Window [Accepted]/Short Permutation in a Long String.java
  Problems & Solutions/567. Permutation in String/04 February 2023/README.md
Labels: documentation, enhancement, java

#249 05 February 2023
  Problems & Solutions/438. Find All Anagrams in a String/05 February 2023/Find All Anagrams in a String.cpp
  Problems & Solutions/438. Find All Anagrams in a String/05 February 2023/README.md
Labels: enhancement, c++

#256 06 February 2023 - Approach 1 - Simple Iteration & Approach 2 - In-pl…
  Problems & Solutions/1470. Shuffle the Array/06 February 2023/Approach 1 - Simple Iteration/Shuffle the Array.cpp
  Problems & Solutions/1470. Shuffle the Array/06 February 2023/Approach 1 - Simple Iteration/Shuffle the Array.java
  Problems & Solutions/1470. Shuffle the Array/06 February 2023/Approach 1 - Simple Iteration/Shuffle the Array.js
  Problems & Solutions/1470. Shuffle the Array/06 February 2023/Approach 1 - Simple Iteration/Shuffle the Array.py
  Problems & Solutions/1470. Shuffle the Array/06 February 2023/Approach 1 - Simple Iteration/Shuffle the Array.swift
  Problems & Solutions/1470. Shuffle the Array/06 February 2023/Approach 2 - In-place Filling/Shuffle the Array.cpp
  Problems & Solutions/1470. Shuffle the Array/06 February 2023/Approach 2 - In-place Filling/Shuffle the Array.java
  Problems & Solutions/1470. Shuffle the Array/06 February 2023/Approach 2 - In-place Filling/Shuffle the Array.js
  Problems & Solutions/1470. Shuffle the Array/06 February 2023/Approach 2 - In-place Filling/Shuffle the Array.py
  Problems & Solutions/1470. Shuffle the Array/06 February 2023/README.md
Labels: documentation, enhancement, c++, java, python3, javascript, swift

#261 07 February 2023 - Approach 1 - Brute Force
  Problems & Solutions/904. Fruit Into Baskets/07 February 2023/Approach 1 - Brute Force/Fruit Into Baskets.cpp
  Problems & Solutions/904. Fruit Into Baskets/07 February 2023/Approach 1 - Brute Force/Fruit Into Baskets.java
  Problems & Solutions/904. Fruit Into Baskets/07 February 2023/Approach 1 - Brute Force/Fruit Into Baskets.py
  Problems & Solutions/904. Fruit Into Baskets/07 February 2023/README.md
Labels: documentation, enhancement, c++, java, python3

#277 08 February 2023 - Approach 1 - Greedy
  Problems & Solutions/45. Jump Game II/08 February 2023/Approach 1 - Greedy/Jump Game II.cpp
  Problems & Solutions/45. Jump Game II/08 February 2023/Approach 1 - Greedy/Jump Game II.java
  Problems & Solutions/45. Jump Game II/08 February 2023/Approach 1 - Greedy/Jump Game II.py
  Problems & Solutions/45. Jump Game II/08 February 2023/README.md
Labels: documentation, enhancement, c++, java, python3

#280 09 February 2023 - Approach 1 - Group words by their initials
  Problems & Solutions/2306. Naming a Company/09 February 2023/Approach 1 - Group words by their initials/Naming a Company.java
  Problems & Solutions/2306. Naming a Company/09 February 2023/Approach 1 - Group words by their initials/Naming a Company.py
Labels: enhancement, java, python3

#290 10, 11, 12, 13 February 2023
  Problems & Solutions/1129. Shortest Path with Alternating Colors/11 February 2023/Approach - Breadth First Search/Shortest Path with Alternating Colors.cpp
  Problems & Solutions/1129. Shortest Path with Alternating Colors/11 February 2023/README.md
  Problems & Solutions/1162. As Far from Land as Possible/10 February 2023/Approach 1 - Breadth-First Search (BFS)/As Far from Land as Possible.cpp
  Problems & Solutions/1162. As Far from Land as Possible/10 February 2023/README.md
  Problems & Solutions/1523. Count Odd Numbers in an Interval Range/13 February 2023/Approach 1 - Maths/Count Odd Numbers in an Interval Range.cpp
  Problems & Solutions/1523. Count Odd Numbers in an Interval Range/13 February 2023/Approach 1 - Maths/Count Odd Numbers in an Interval Range.java
  Problems & Solutions/1523. Count Odd Numbers in an Interval Range/13 February 2023/README.md
  Problems & Solutions/2477. Minimum Fuel Cost to Report to the Capital/12 February 2023/Approach 1 - Depth First Search/Minimum Fuel Cost to Report to the Capital.cpp
  Problems & Solutions/2477. Minimum Fuel Cost to Report to the Capital/12 February 2023/Approach 1 - Depth First Search/README.md
Labels: documentation, enhancement, c++, java

#293 67. Add Binary - 14 February 2023
  Problems & Solutions/67. Add Binary/14 February 2023/Add Binary.java
  Problems & Solutions/67. Add Binary/14 February 2023/README.md
Labels: documentation, enhancement, java

#296 989. Add to Array-Form of Integer - 15 February 2023
  Problems & Solutions/989. Add to Array-Form of Integer/15 February 2023/Approach 1 - Schoolbook Addition/Add to Array-Form of Integer.java
  Problems & Solutions/989. Add to Array-Form of Integer/15 February 2023/README.md
Labels: documentation, enhancement, java

#299 104. Maximum Depth of Binary Tree - 16 February 2023
  Problems & Solutions/104. Maximum Depth of Binary Tree/16 February 2023/Maximum Depth of Binary Tree.cpp
  Problems & Solutions/104. Maximum Depth of Binary Tree/16 February 2023/README.md
Labels: documentation, enhancement, c++

#302 783. Minimum Distance Between BST Nodes
  Problems & Solutions/783. Minimum Distance Between BST Nodes/17 February 2023/Approach 1 - In-order Traversal with List/Minimum Distance Between BST Nodes.cpp
  Problems & Solutions/783. Minimum Distance Between BST Nodes/17 February 2023/README.md
Labels: documentation, enhancement, c++

#305 18 February 2023
  Problems & Solutions/226. Invert Binary Tree/18 February 2023/Approach 1 - Recursive/Invert Binary Tree.java
  Problems & Solutions/226. Invert Binary Tree/18 February 2023/README.md
Labels: documentation, enhancement, java

#309 19 February 2023
  Problems & Solutions/103. Binary Tree Zigzag Level Order Traversal/19 February 2023/Binary Tree Zigzag Level Order Traversal.java
  Problems & Solutions/103. Binary Tree Zigzag Level Order Traversal/19 February 2023/README.md
Labels: documentation, enhancement, java

#312 35. Search Insert Position - 20 February 2023
  Problems & Solutions/35. Search Insert Position/20 February 2023/README.md
  Problems & Solutions/35. Search Insert Position/20 February 2023/Search Insert Position.java
Labels: documentation, enhancement, java

#325 21 & 22 February 2023
  Problems & Solutions/1011. Capacity To Ship Packages Within D Days/22 February 2023/Approach - Binary Search/Capacity To Ship Packages Within D Days.java
  Problems & Solutions/1011. Capacity To Ship Packages Within D Days/22 February 2023/README.md
  Problems & Solutions/35. Search Insert Position/20 February 2023/README.md
  Problems & Solutions/540. Single Element in a Sorted Array/21 February 2023/README.md
  Problems & Solutions/540. Single Element in a Sorted Array/21 February 2023/Single Element in a Sorted Array.java
Labels: documentation, enhancement, java

#328 502. IPO - 23 February 2023
  Problems & Solutions/502. IPO/23 February 2023/A Greedy Approach/IPO.cpp
  Problems & Solutions/502. IPO/23 February 2023/README.md
Labels: documentation, enhancement, java

#331 1675. Minimize Deviation in Array - 24 February 2023
  Problems & Solutions/1675. Minimize Deviation in Array/24 February 2023/Minimize Deviation in Array.java
  Problems & Solutions/1675. Minimize Deviation in Array/24 February 2023/README.md
  Problems & Solutions/502. IPO/23 February 2023/README.md
Labels: bug, documentation, enhancement, java

#336 25 & 26 February 2023
  Problems & Solutions/121. Best Time to Buy and Sell Stock/25 February 2023/Best Time to Buy and Sell Stock.cpp
  Problems & Solutions/121. Best Time to Buy and Sell Stock/25 February 2023/README.md
  Problems & Solutions/72. Edit Distance/26 February 2023/Edit Distance.cpp
  Problems & Solutions/72. Edit Distance/26 February 2023/README.md
Labels: documentation, enhancement, c++

#353 27 & 28 February 2023
  Problems & Solutions/427. Construct Quad Tree/27 February 2023/Construct Quad Tree.java
  Problems & Solutions/427. Construct Quad Tree/27 February 2023/README.md
  Problems & Solutions/652. Find Duplicate Subtrees/28 February 2023/Find Duplicate Subtrees.cpp
  Problems & Solutions/652. Find Duplicate Subtrees/28 February 2023/README.md
Labels: documentation, enhancement, c++, java
